body{
    margin: 0;
}

@font-face {
    font-family:'font1B' ;
    src: url(fonts/font1B.woff2);
}
@font-face {
    font-family:'font-regular' ;
    src: url(fonts/font-regular.woff2);
}
@font-face {
    font-family:'font-regular2' ;
    src: url(fonts/font-regular2.woff2);
}

.header-outer-wrap{
    position: relative;
    z-index: 100;
    background-color: #f0f0f2;
}


.page a:not(.button):not(.card):hover, .single-content a:not(.button):not(.card):hover {
    background-size: 100% 1px;
}
.header{
    background-color: #fff;
    position: sticky;
    z-index: 600;
    height: 4rem;
    top: 0;
    box-shadow: 0 4px 50px -10px rgb(37 44 63 / 30%);
}
@media (max-width: 1055px){
    .header {
        height: 4rem;
        overflow: hidden;
    }
}

.header-inner {
    background-color: #fff;
}
@media (max-width: 1054px){
    .header-inner {
        height: 100vh;
        overflow: auto;
    }
}

.header-inner .header-nav{
    align-items: center;
    display: block;
    position: relative;
    width: 100%;
    z-index: 600;
    background: #f0f0f2;
}
@media (min-width: 1055px){
    .header-inner .header-nav {
        display: flex;
        flex-wrap: wrap;
        padding: 1rem 0;
        justify-content: space-between;
        background: #fff;
    }
}
@media (min-width: 1600px){
    .header-nav {
        margin: 0 auto;
        max-width: 1650px;
    }
} 
.header-nav-menu{
    padding-bottom: 1rem;
    width: 100%;
}
@media (max-width: 1054px){
    .header-nav-menu {
        width: auto;
        opacity: 0;
        transform: translatey(-2rem);
        transition: transform .2s cubic-bezier(.65,.05,.36,1),opacity .2s cubic-bezier(.65,.05,.36,1);
        background: #fff;
        margin: 28px 10px -5px;
        border-radius: 6px;
    }
}
@media (min-width: 1055px){
    .header-nav-menu {
        padding-left: 2.4rem;
        padding: 0 1rem 0 0;
        display: flex;
        flex: 1;
    }
}

@media (max-width: 1054px){
    .header-inner .header-nav .header-nav-wrapper {
        display: flex;
        width: 100%;
        background: #fff;
    }
}


.header-inner .header-nav .header-nav-logo img {
    height: auto;
    min-width: 80px;
    width: 100%;
    max-width: 140px;
}

a {
    color: inherit;
    font-size: inherit;
    font-family: 'font-regular';
    font-weight: 400;
    line-height: 1.55;
    outline: none;
    text-decoration: none;
}
.header-inner .header-nav .header-nav-logo {
    align-items: center;
    display: flex;
    height: 4rem;
    padding-left: 1rem;
    position: relative;
    z-index: 100;
    outline: none;
}
@media (min-width: 1055px){
    .header-inner .header-nav .header-nav-logo {
       height: auto;
       padding: 0 2rem 0 1.8rem;
    }
}

*, :after, :before {
    border: 0 solid #c5cad3;
}
*, :after, :before {
    box-sizing: border-box;
}


ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ol, ul {
    margin: 2rem 0;
    padding-left: 2rem;
}
@media (min-width: 1055px){
    .header-main-top{
        display: inline-flex;
    }
}

/* .web-insp-hide, .web-insp-hide *, .web-insp-hide::before, .web-insp-hide::after {
    visibility: hidden !important;
} */
@media (max-width: 1054px){
    .header-main-top{
        display: none;
    }
}
.header-nav-menu .header-nav-list-wrapper{
    margin: 0;
    padding: 0;
}
@media (min-width: 1055px){
    .header-nav-menu .header-nav-list-wrapper {
        display: inline-flex;
    }
}

@media (min-width: 1055px){
    .main-nav-dropdown {
        max-width: 100%;
    }
}



.header-inner .header-nav .header-nav-toggle span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #000;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.header-inner .header-nav .header-nav-toggle span:first-child {
    top: 0;
}
.header-inner .header-nav .header-nav-toggle span:nth-child(2), .header-inner .header-nav .header-nav-toggle span:nth-child(3) {
    top: 7px;
}
.header-inner .header-nav .header-nav-toggle span:nth-child(4) {
    top: 14px;
}

.header-inner .header-nav .header-nav-toggle {
    width: 25px;
    height: 25px;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    position: absolute;
    right: 1.25rem;
    top: 1.3rem;
    cursor: pointer;
    z-index: 99;
}
@media (min-width: 1055px){
    .header-nav-toggle  {
        display: none;
    }
}

body:not(.air-has-subnav) .header-inner {
    will-change: box-shadow;
    transform: translate(0);
    transform: translateZ(0);
}
@media (max-width: 1054px){
    body:not(.air-navigation--open) .header-inner {
        height: 4rem;
        overflow: hidden;
    }
}
body:not(.air-has-subnav) .header.header-no-shadow .header-inner {
    box-shadow: none!important;
}

li {
    font-size: 1rem;
    line-height: 1.45;
    margin: 0 0 1rem;
    padding-left: .5rem;
}
.header-main-nav-item {
    display: block;
    text-decoration: none;
    position: relative;
    margin: 0;
    padding-left: 0;
    line-height: 1.15;
}
@media (max-width: 1054px){
    .header-main-nav-item{
        padding: 1rem 1.5rem;
    }
}
@media (min-width: 1055px){
    .header-main-nav-item {
        display: inline-flex;
    }
}






.header-main-nav-item-target {
    align-items: center;
    appearance: none;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    display: inline-flex;
    font-family: 'font-regular';
    font-size: 1rem;
    font-weight: 600;
    height: 32px;
    justify-content: center;
    outline: none;
    padding: 0 1rem;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: color .15s cubic-bezier(.65,.05,.36,1),background-color .15s cubic-bezier(.65,.05,.36,1);
    user-select: none;
    white-space: nowrap;
}
@media (min-width: 1055px){
    .header-main-nav-item-target {
        font-size: 1rem;
    }
}


@media (max-width: 1054px){
    .header-nav-menu .header-main-nav-item-target  {
        justify-content: flex-start;
        width: 100%;
    }
}
@media (max-width: 1054px){
    .nav-dropdown-solutions .nav-icon, .nav-dropdown-solutions>.header-main-nav-item-target {
        display: none;
    }
}
@media (min-width: 1055px){
    .main-nav-dropdown .header-main-nav-item>.header-main-nav-item-target {
        display: none;
    }
}


@media (min-width: 1055px){
    .dropdown-background {
        transform: translateY(0) rotateX(0);
        width: 100%;
        height: 100%;
        opacity: 0;
        pointer-events: none;
        display: flex;
        justify-content: center;
        position: absolute;
        width: 65rem;
        height: 320px;
        padding-top: 2rem;
        transition: transform .25s,width .25s,height .25s,opacity .15s,box-shadow .25s .2s;
        transform: translateY(32px);
        will-change: transform,opacity,width,height;
        perspective: 1998px;
    }
}
@media (max-width: 1054px){
    .dropdown-background {
        transform: translateY(0) rotateX(0)!important;
        width: 100%!important;
        height: 100%!important;
    }
}
@media (max-width: 1054px){
    .dropdown-background .dropdown-background-inner {
        transform: rotateX(0)!important;
    }
}





@media (min-width: 1055px){
    .md\:shadow-lg {
        box-shadow: 0 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -2px rgba(0,0,0,.05)!important;
    }
}
@media (min-width: 1055px){
    .dropdown-background .dropdown-background-inner {
        background: linear-gradient(90deg,#f7f7f8,#fff);
        border-radius: 6px;
        width: 100%;
        height: 100%;
        overflow: hidden;
        transition: transform .15s;
        transform: rotateX(-23deg);
        transform-origin: 50% 0;
    }
}
@media (min-width: 1055px){
    .main-nav-dropdown .header-main-nav-item.header-main-nav-item-dropdown {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
        transition: opacity .75s;
    }
}






@media (min-width: 1055px){
    .header-main-nav-dropdown-menu {
    top: 100%;
    left: 0;
    width: 25rem;
    overflow: hidden;
    transition: transform .25s,opacity .25s;
    }
}
.nav-single-col-dropdown .header-main-nav-dropdown-menu {
    width: 400px;
    background: #fff;
}
@media (min-width: 1055px){
    .nav-dropdown-solutions .header-main-nav-dropdown-menu {
        width: 65rem;
    }
}






.header-main-nav-dropdown-menu .header-main-nav-dropdown-menu-inner {
    margin-top: 0;
    padding-left: 0;
    margin-bottom: 0;
}
@media (min-width: 1055px){
    .header-main-nav-dropdown-menu .header-main-nav-dropdown-menu-inner {
        display: flex;
        flex-wrap: wrap;
        background-color: #fff;
        margin: 0 1rem .5rem;
        z-index: 500;
    }
}
@media (min-width: 1055px){
    .nav-dropdown-support .header-main-nav-dropdown-menu .header-main-nav-dropdown-menu-inner {
        flex-direction: column;
        max-height: 311px;
        margin-bottom: 0;
    }
}
@media (min-width: 1055px){
    .nav-dropdown-solutions .header-main-nav-dropdown-menu .header-main-nav-dropdown-menu-inner {
        flex-wrap: nowrap;
        margin: 0 2rem;
    }
}
.nav-single-col-dropdown .header-main-nav-dropdown-menu .header-main-nav-dropdown-menu-inner {
    margin: 1rem;
}









.header-main-nav-dropdown-menu .header-main-nav-item-ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}
@media (min-width: 1055px){
    .header-main-nav-dropdown-menu .header-main-nav-item-ul {
        width: 50%;
    }
}
@media (min-width: 1055px){
    .nav-single-col-dropdown .header-main-nav-item-ul {
        width: 100%;
    }
}
@media (min-width: 1055px){
    .nav-dropdown-solutions .header-main-nav-dropdown-menu .header-main-nav-dropdown-menu-inner .header-main-nav-item-ul {
        width: 22%;
    }
}
@media (min-width: 1055px){
    .nav-dropdown-solutions .header-main-nav-dropdown-menu .header-main-nav-dropdown-menu-inner .header-main-nav-item-ul.header-main-nav-item-ul:first-child {
        background-color: #f7f7f8;
        width: auto;
        padding-right: 2rem;
        margin-right: 2rem;
    }
}








.header-main-nav-dropdown-menu .header-main-nav-dropdown-menu-inner .header-main-nav-dropdown-item {
    display: block;
    position: relative;
    color: #000;
    padding: 1rem 0 .6rem 1rem;
    border-radius: 4px;
}


@media (min-width: 1055px){
    .header-main-nav-dropdown-menu .header-main-nav-dropdown-menu-inner .header-main-nav-dropdown-item {
        padding: .75rem .75rem .75rem 1rem;
    }
}

@media (min-width: 1055px){
    .nav-dropdown-solutions .header-main-nav-dropdown-menu.header-main-nav-depth-0>.header-main-nav-dropdown-menu-inner>.header-main-nav-item-ul>.header-main-nav-dropdown-item{
        display: flex;
        align-items: center;
        padding-top: 2rem;
        padding-bottom: .5rem;
        margin: 0!important;
    }
}















h5 {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.2;
    margin: 1.5em 0 .3em;
}

@media (min-width: 1055px){
    h5 {
        font-size: 1.3rem;
    }
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
    margin-top: 0;
}

@media (min-width: 1055px){
    .header-main-nav-dropdown-menu .header-main-nav-dropdown-menu-inner .header-main-nav-dropdown-item .header-main-nav-dropdown-title{
        font-weight: 600;
    }
}


.header-main-nav-dropdown-menu .header-main-nav-dropdown-menu-inner .header-main-nav-dropdown-item .header-main-nav-dropdown-description, .header-main-nav-dropdown-menu .header-main-nav-dropdown-menu-inner .header-main-nav-dropdown-item .header-main-nav-dropdown-title{
    position: relative;
    z-index: 100;
}
.nav-dropdown-solutions .header-main-nav-dropdown-menu.header-main-nav-depth-0>.header-main-nav-dropdown-menu-inner>.header-main-nav-item-ul>.header-main-nav-dropdown-item h5 {
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #8f99b3;
    font-size: 1rem;
}
@media (min-width: 1055px){
    .nav-dropdown-solutions .header-main-nav-dropdown-menu.header-main-nav-depth-0>.header-main-nav-dropdown-menu-inner>.header-main-nav-item-ul>.header-main-nav-dropdown-item h5 {
        font-size: 14px;
        font-weight: 700;
    }
}




@media (min-width: 1055px){
    .header-main-nav-dropdown-menu .header-main-nav-dropdown-menu-inner .header-main-nav-dropdown-item:after {
        content: "";
        background-color: #f7f7f8;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        border-radius: 4px;
    }
}







@media (min-width: 1055px){
    .nav-dropdown-solutions .header-main-nav-dropdown-menu .header-main-nav-dropdown-menu-inner .header-main-nav-item-ul .header-main-nav-dropdown-menu {
        display: flex;
        flex-direction: column;
        position: unset;
        width: 100%;
        padding-top: 0;
        transform: none;
        display: block!important;
    }
}
@media (min-width: 1055px){
    .nav-dropdown-solutions .header-main-nav-dropdown-menu .header-main-nav-dropdown-menu-inner .header-main-nav-item-ul.header-main-nav-item-ul:first-child .header-main-nav-dropdown-menu {
        margin-bottom: .5rem;
    }
}







@media (min-width: 1055px){
    .nav-dropdown-solutions .header-main-nav-dropdown-menu .header-main-nav-dropdown-menu-inner .header-main-nav-item-ul .header-main-nav-dropdown-menu .header-main-nav-dropdown-menu-inner {
        flex-direction: column;
        margin: 0;
    }
}
@media (min-width: 1055px){
    .nav-dropdown-solutions .header-main-nav-dropdown-menu .header-main-nav-dropdown-menu-inner .header-main-nav-item-ul.header-main-nav-item-ul:first-child .header-main-nav-dropdown-menu .header-main-nav-dropdown-menu-inner {
        background: transparent;
    }
}


@media (min-width: 1055px){
    .nav-dropdown-solutions .header-main-nav-dropdown-menu .header-main-nav-dropdown-menu-inner .header-main-nav-item-ul .header-main-nav-dropdown-menu .header-main-nav-dropdown-menu-inner .header-main-nav-item-ul{
        width: 100%;
        background-color: transparent;
        padding-right: 0;
    }
}


@media (min-width: 1055px){
    .nav-dropdown-solutions .header-main-nav-dropdown-menu .header-main-nav-dropdown-menu-inner .header-main-nav-item-ul .header-main-nav-dropdown-menu .header-main-nav-dropdown-menu-inner .header-main-nav-item-ul .header-main-nav-dropdown-item {
        margin: 4px 0;
    }
}








@media (min-width: 1055px){
    .nav-dropdown-solutions .header-main-nav-dropdown-menu .header-main-nav-dropdown-menu-inner .header-main-nav-item-ul .header-main-nav-dropdown-menu .header-main-nav-dropdown-menu-inner .header-main-nav-item-ul .header-main-nav-dropdown-item h5 {
        color: #000;
        font-weight: 100;
        margin: 0;
    }
}
@media (min-width: 1055px){
    .nav-dropdown-solutions .header-main-nav-dropdown-menu .header-main-nav-dropdown-menu-inner .header-main-nav-item-ul.header-main-nav-item-ul:first-child .header-main-nav-dropdown-menu .header-main-nav-dropdown-menu-inner .header-main-nav-dropdown-item h5.header-main-nav-dropdown-title {
        font-weight: 600;
    }
}



.nav-single-col-dropdown.nav-partners .header-main-nav-dropdown-menu {
    width: auto;
}


@media (min-width: 1055px){
    .nav-dropdown-support .header-main-nav-dropdown-menu{
        width: 520px;
    }
}




@media (min-width: 1055px){
    .nav-dropdown-support .header-main-nav-dropdown-menu .header-main-nav-dropdown-menu-inner li:first-child, .nav-dropdown-support .header-main-nav-dropdown-menu .header-main-nav-dropdown-menu-inner li:nth-child(2) {
        background: #f7f7f8;
        padding: 1rem 1rem .5rem 0;
    }
}
@media (min-width: 1055px){
    .nav-dropdown-support .header-main-nav-dropdown-menu .header-main-nav-dropdown-menu-inner li:first-child {
        height: 135px;
    }
}









@media (min-width: 1055px){
    .nav-dropdown-support .header-main-nav-dropdown-menu .header-main-nav-dropdown-menu-inner li:first-child a {
        background-color: #005aff;
        transition: background-color .15s cubic-bezier(.65,.05,.36,1);
    }
}

@media (min-width: 1055px){
    .nav-dropdown-support .header-main-nav-dropdown-menu .header-main-nav-dropdown-menu-inner .header-main-nav-item-ul .header-main-nav-dropdown-item {
        padding-left: 3rem;
    }
}

@media (min-width: 1055px){
    .nav-dropdown-support .header-main-nav-dropdown-menu .header-main-nav-dropdown-menu-inner li:first-child .header-main-nav-dropdown-item, .nav-dropdown-support .header-main-nav-dropdown-menu .header-main-nav-dropdown-menu-inner li:nth-child(2) .header-main-nav-dropdown-item {
        padding: 3.5rem 2rem 1rem 1rem;
    }
}




@media (min-width: 1055px){
    .nav-dropdown-support .header-main-nav-dropdown-menu .header-main-nav-dropdown-menu-inner li:first-child a h5 {
        color: #fff;
        margin-bottom: 0;
        margin-top: 25px;
    }
}

@media (min-width: 1055px){
    .nav-dropdown-support .header-main-nav-dropdown-menu .header-main-nav-dropdown-menu-inner .header-main-nav-item-ul .header-main-nav-dropdown-item .header-main-nav-dropdown-title{
        font-weight: 400;
    }
}
@media (min-width: 1055px){
    .nav-dropdown-support .header-main-nav-dropdown-menu .header-main-nav-dropdown-menu-inner li:first-child .header-main-nav-dropdown-item .header-main-nav-dropdown-title, .nav-dropdown-support .header-main-nav-dropdown-menu .header-main-nav-dropdown-menu-inner li:nth-child(2) .header-main-nav-dropdown-item .header-main-nav-dropdown-title {
        font-weight: 600;
    }
}









.nav-icon {
    display: inline-flex;
    flex-shrink: 0;
    flex-grow: 0;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 100%;
}
.nav-icon-smaller {
    width: 60px;
    height: 60px;
}
@media (min-width: 1055px){
    .nav-dropdown-support .header-main-nav-dropdown-menu .header-main-nav-dropdown-menu-inner li:first-child .header-main-nav-dropdown-item .nav-icon, .nav-dropdown-support .header-main-nav-dropdown-menu .header-main-nav-dropdown-menu-inner li:nth-child(2) .header-main-nav-dropdown-item .nav-icon {
        height: 45px;
        position: absolute;
        top: 6px;
        left: 1px;
        z-index: 100;
    }
}





iframe, img, object, svg, video {
    display: block;
    vertical-align: middle;
}

.nav-icon-icon {
    fill: #252c3f;
    height: auto;
    width: inherit;
}

.nav-icon-blue .nav-icon-icon {
    fill: #005aff;
}
@media (min-width: 1055px){
    .nav-dropdown-support .header-main-nav-dropdown-menu .header-main-nav-dropdown-menu-inner li:first-child a .nav-icon-blue .nav-icon-icon {
        fill: white;
    }
}


@media (min-width: 1055px){
    .nav-dropdown-support .header-main-nav-dropdown-menu .header-main-nav-dropdown-menu-inner li:nth-child(3) {
        padding-top: 2rem;
    }
}

@media (min-width: 1055px){
    .nav-dropdown-company .header-main-nav-dropdown-menu{
        width: 1052px;
        height: auto;
    }
}

@media (min-width: 1055px){
    .nav-dropdown-company .header-main-nav-dropdown-menu .header-main-nav-dropdown-menu-inner {
        margin: 0;
    }
}





@media (min-width: 1055px){
    .nav-dropdown-company .header-main-nav-dropdown-menu .header-main-nav-dropdown-menu-inner .header-main-nav-item-ul.header-main-nav-ft-post {
    background-color: #f7f7f8;
    width: 312px;
    margin-right: 2rem;
    }
}




@media (min-width: 1055px){
    .nav-dropdown-company .header-main-nav-dropdown-menu.header-main-nav-depth-0>.header-main-nav-dropdown-menu-inner>.header-main-nav-item-ul>.header-main-nav-dropdown-item {
        display: flex;
        align-items: center;
        padding-top: 2rem;
        padding-bottom: .5rem;
    }
}
@media (min-width: 1055px){
    .nav-dropdown-company .header-main-nav-dropdown-menu .header-main-nav-dropdown-menu-inner .header-main-nav-item-ul.header-main-nav-ft-post .header-main-nav-dropdown-item {
        display: block;
        padding: 0;
    }
}






@media (min-width: 1055px){
    .nav-dropdown-company .header-main-nav-dropdown-menu.header-main-nav-depth-0>.header-main-nav-dropdown-menu-inner>.header-main-nav-item-ul>.header-main-nav-dropdown-item h5 {
        color: #8f99b3;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 0;
    }
}
@media (min-width: 1055px){
    .nav-dropdown-company .header-main-nav-dropdown-menu .header-main-nav-dropdown-menu-inner .header-main-nav-item-ul.header-main-nav-ft-post h5:first-child {
        display: none;
    }
}


@media (min-width: 1055px){
    .nav-dropdown-company .header-main-nav-dropdown-menu .header-main-nav-dropdown-menu-inner .header-main-nav-item-ul.header-main-nav-ft-post .header-main-nav-dropdown-description {
        padding-bottom: 1rem;
    }
}


@media (min-width: 1055px){
    .nav-dropdown-company .header-main-nav-dropdown-menu .header-main-nav-dropdown-menu-inner .header-main-nav-item-ul.header-main-nav-ft-post .header-main-nav-ft-post {
        min-height: 290px;
    }
}


@media (min-width: 1055px){
    .nav-dropdown-company .header-main-nav-dropdown-menu .header-main-nav-dropdown-menu-inner .header-main-nav-item-ul.header-main-nav-ft-post .header-main-nav-ft-post .header-main-nav-ft-post-cont {
        display: flex;
        flex-direction: column;
        min-height: 290px;
        width: 100%;
        justify-content: space-between;
        padding: 2rem;
        position: absolute;
        z-index: 99;
        color: #fff;
        background: linear-gradient(178.53deg,transparent 1.35%,#000 184.86%);
    }
}



@media (min-width: 1055px){
    .nav-dropdown-company .header-main-nav-dropdown-menu .header-main-nav-dropdown-menu-inner .header-main-nav-item-ul.header-main-nav-ft-post .header-main-nav-ft-post .header-main-nav-ft-post-cont .dropdown-ft-post-over {
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
    }
}


@media (min-width: 1055px){
    .nav-dropdown-company .header-main-nav-dropdown-menu .header-main-nav-dropdown-menu-inner .header-main-nav-item-ul.header-main-nav-ft-post .header-main-nav-ft-post .header-main-nav-ft-post-cont .dropdown-ft-post-title {
        font-size: 24px;
        margin-top: 8px;
        font-weight: 600;
        line-height: 1.5rem;
    }
}

@media (min-width: 1055px){
    .nav-dropdown-company .header-main-nav-dropdown-menu .header-main-nav-dropdown-menu-inner .header-main-nav-item-ul.header-main-nav-ft-post .header-main-nav-ft-post .header-main-nav-ft-post-cont .more {
        display: flex;
        justify-content: space-between;
        background-image: linear-gradient(#fff,#fff);
        background-position: 0 95%;
        background-repeat: no-repeat;
        background-size: 0 1px;
        transition: background-size .3s cubic-bezier(0,.5,0,1);
    }
}







.nav-icon-sm {
    width: 25px;
    height: 25px;
}
@media (min-width: 1055px){
    .nav-dropdown-company .header-main-nav-dropdown-menu.header-main-nav-depth-0>.header-main-nav-dropdown-menu-inner>.header-main-nav-item-ul>.header-main-nav-dropdown-item .nav-icon {
        width: 45px;
        height: 20px;
        margin-top: -2px;
    }
}
@media (min-width: 1055px){
    .nav-dropdown-company .header-main-nav-dropdown-menu .header-main-nav-dropdown-menu-inner .header-main-nav-item-ul.header-main-nav-ft-post .header-main-nav-ft-post .header-main-nav-ft-post-cont .more .nav-icon {
        height: 25px;
        width: 25px;
        opacity: 0;
        transform: translateX(-50%);
        transition: transform .3s;
    }
}

.nav-icon-white-blue .nav-icon-icon, .nav-icon-white .nav-icon-icon {
    fill: #fff;
}


@media (min-width: 1055px){
    .nav-dropdown-company .header-main-nav-dropdown-menu .header-main-nav-dropdown-menu-inner .header-main-nav-item-ul.header-main-nav-ft-post .header-main-nav-ft-post .banner-bg {
        width: 100%;
        min-height: 290px;
        position: absolute;
    }
}



img, video {
    max-width: 100%;
    height: auto;
}
@media (min-width: 1055px){
    .nav-dropdown-company .header-main-nav-dropdown-menu .header-main-nav-dropdown-menu-inner .header-main-nav-item-ul.header-main-nav-ft-post .header-main-nav-ft-post .banner-bg img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /* font-family: "object-fit:cover"; */
        object-fit: cover;
        border-radius: 4px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}


@media (min-width: 1055px){
    .nav-dropdown-company .header-main-nav-dropdown-menu .header-main-nav-dropdown-menu-inner .header-main-nav-item-ul:not(.header-main-nav-ft-post) {
        width: 22%;
    }
}



@media (min-width: 1055px){
    .nav-dropdown-company .header-main-nav-dropdown-menu .header-main-nav-dropdown-menu-inner .header-main-nav-item-ul:not(.header-main-nav-ft-post).header-main-nav-item-ul>.header-main-nav-dropdown-item {
        padding-left: 1rem;
    }
}


@media (min-width: 1055px){
    .nav-dropdown-company .header-main-nav-dropdown-menu .header-main-nav-dropdown-menu-inner .header-main-nav-item-ul .header-main-nav-dropdown-menu {
        width: 100%;
    }
}




@media (min-width: 1055px){
    .nav-dropdown-company .header-main-nav-dropdown-menu .header-main-nav-dropdown-menu-inner .header-main-nav-item-ul .header-main-nav-dropdown-menu .header-main-nav-dropdown-menu-inner {
        flex-direction: column;
        margin: 0;
    }
}


@media (min-width: 1055px){
    .nav-dropdown-company .header-main-nav-dropdown-menu .header-main-nav-dropdown-menu-inner .header-main-nav-item-ul .header-main-nav-dropdown-menu .header-main-nav-dropdown-menu-inner  .header-main-nav-item-ul {
        width: 100%;
        background-color: transparent;
    }
}


@media (min-width: 1055px){
    .nav-dropdown-company .header-main-nav-dropdown-menu .header-main-nav-dropdown-menu-inner .header-main-nav-item-ul .header-main-nav-dropdown-menu .header-main-nav-dropdown-menu-inner  .header-main-nav-item-ul .header-main-nav-dropdown-item {
        padding: .75rem 1rem;
        margin: 4px 0;
    }
}


@media (min-width: 1055px){
    .nav-dropdown-company .header-main-nav-dropdown-menu .header-main-nav-dropdown-menu-inner .header-main-nav-item-ul .header-main-nav-dropdown-menu .header-main-nav-dropdown-menu-inner  .header-main-nav-item-ul .header-main-nav-dropdown-item h5 {
        color: #000;
        font-weight: 100;
        font-size: 16px;
        margin: 0;
    }
}


@media (min-width: 1055px){
    .nav-dropdown-company .header-main-nav-dropdown-menu .header-main-nav-dropdown-menu-inner .header-main-nav-item-ul:last-child {
        width: 44%;
    }
}


@media (min-width: 1055px){
    .md\:hidden {
        display: none!important;
    }
}

.header-main-nav-dropdown-menu-ex li:first-child {
    padding-top: 0;
}


.header-main-nav-item>a {
    text-decoration: none;
    line-height: 1.15;
}

.header-main-nav-dropdown-menu-ex li:last-child {
    margin-bottom: 2rem;
}




.header-main-nav-dropdown-menu-action {
    display: flex;
}
@media (min-width: 1055px){
    .header-main-nav-dropdown-menu-action {
        flex: 1;
        justify-content: flex-end;
        align-items: center;
        transition: margin .7s;
    }
}



.header-main-nav-dropdown-menu-action ul {
    margin: 0;
    padding: 0;
}




.header-main-nav-dropdown-menu-action .header-main-nav-item {
    width: 100%;
}
@media (min-width: 1055px){
    .header-main-nav-dropdown-menu-action .header-main-nav-item {
        width: auto;
    }
}




.header-main-nav-sec .header-main-nav-item-target {
    background-color: #252c3f;
    color: #fff;
}
.header-main-nav-dropdown-menu-action .header-main-nav-item-target {
    justify-content: center;
}



@media (min-width: 1055px){
    .header-main-nav-dropdown-menu-action .header-main-nav-item:not(:first-child) {
        margin-left: 1rem;
    }
}
@media (min-width: 1055px){
    .header-main-nav-dropdown-menu-action .header-main-nav-item:not(:first-child) {
        margin-left: .5rem;
    }
}
.header-main-nav-prim .header-main-nav-item-target {
    background-color: #005aff;
    color: #fff;
}


@media (min-width: 1055px){
    .header-main-nav-dropdown-main-action {
        margin-left: 8px;
    }
}


.header-main-nav-dropdown-main-action .header-main-nav-item{
    width: 100%;
}
body.nav-cart .nav-buy-now, body:not(.nav-cart) .nav-cart {
    display: none;
}




.header-main-nav-active .header-main-nav-item-target {
    color: #005aff;
}
.header-main-nav-cart .header-main-nav-item-target {
    background-color: #42bd61;
    color: #fff;
}

.header-main-nav-item .nav-icon-cart {
    width: auto;
    display: none;
}
.hidden{
    display: none!important;
}


.header-main-nav-cart .header-main-nav-item-target svg path {
    fill: #fff;
}
.home .header, body:not(.page-template-custom-page-with-sub-navigation):not(.page-blog):not(.category) .header {
    width: 100%;
}



.wrap {
    padding-bottom: 1rem;
}



.page {
    margin: 0 .5rem;
}
@media (min-width: 700px){
    .page {
        margin: 1rem 1rem 0;
    }
}



.section {
    position: relative;
}
.space>:not(template)~:not(template) {
    --space-y-reverse: 0!important;
    margin-top: calc(1rem*(1 - var(--space-y-reverse)))!important;
    margin-bottom: calc(1rem*var(--space-y-reverse))!important;
}
.section.tw {
    --bg-opacity: 1;
    background-color: #f0f0f2;
    background-color: rgba(240,240,242,var(--bg-opacity));
}

.section.tw.hero {
    padding-left: 0;
    padding-right: 0;
}
.section.tw.hero:first-child {
    padding-top: 0;
}
.section.tw.hero.full-section {
    min-height: 735px;
    width: calc(100% + 1.5rem);
    margin-top: -1rem;
    margin-left: -1rem;
}
@media (min-width: 700px){
    .section.tw.hero.full-section {
        width: calc(100% + 2rem);
        height: calc(100vh - 64px);
    }
}





.lazy{
    transition: opacity 0.3s;
    opacity: 1 !important;
}
.section.tw.hero.full-section img.section-bg {
    position: absolute;
    bottom: 0;
    font-family: "object-fit:cover";
    object-fit: cover;
    width: 100%;
    display: none;
    min-height: 734px;
    height: calc(100vh - 64px);
}
.section.tw.hero.full-section img.section-bg-mobile {
    position: absolute;
    font-family: "object-fit:cover;object-position:50% 75%";
    object-fit: cover;
    object-position: 50% 75%;
    width: 100%;
}
@media (min-width: 700px){
    .section.tw.hero.full-section img.section-bg {
        display: block;
    }
}
@media (min-width: 700px){
    .section.tw.hero.full-section img.section-bg-mobile {
        display: none;
    }
}



.section-content {
    margin: 0 auto;
}
@media (min-width: 1600px){
    .section-content {
        max-width: 1650px;
    }
}















.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 500px){
    .container {
        max-width: 500px;
    }
}
@media (min-width: 1055px){
    .container {
        max-width: 1055px;
    }
}
@media (min-width: 1220px){
    .container {
        max-width: 1220px;
    }
}
.col-wrapper {
    display: flex;
    justify-content: space-between;
}



@media (max-width: 1054px){
    .col-wrapper {
        flex-wrap: wrap;
    }
}
@media screen and (min-width: 500px) and (max-width: 1054px){
    .container {
        max-width: 100%;
    }
}
.section.tw.hero .col-wrapper {
    max-width: 100%;
}















.col-wrapper .column {
    position: relative;
    width: 100%;
    display: flex;
}
@media (max-width: 1054px){
    .col-wrapper .column {
        width: 100%;
    }
}

.collapsed .column {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
}

@media (min-width: 1055px){
    .collapsed .column {
        width: 50%;
        max-width: 50%;
    }
}
.hero .col-wrapper .column {
    margin-bottom: 0;
}
@media (min-width: 1055px){
    .hero .col-wrapper .column {
        width: calc(50% - 8px);
    }
}
@media (min-width: 1055px){
    .hero .col-wrapper .column:first-child {
        margin-left: .5rem;
        padding-right: 0;
    }
}
.hero:first-child .col-wrapper .column {
    padding-left: 0;
    padding-right: 0;
    margin: 0;
}
@media (min-width: 1055px){
    .hero:first-child .col-wrapper .column {
        width: 50%;
        max-width: 50%;
    }
}
.section.tw.hero .col-wrapper .column {
    width: 100%;
}
@media (min-width: 1055px){
    .section.tw.hero .col-wrapper .column:first-child {
        order: 2;
    }
}









.bg-white {
    background-color: #fff!important;
    background-color: rgba(255,255,255,var(--bg-opacity))!important;
}

.bg-gray-50, .bg-white {
    --bg-opacity: 1!important;
}
.col-wrapper .column .col-inner {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.hero .col-wrapper .column .col-inner {
    justify-content: center;
}
.section.tw.hero.full-section .bg-white {
    background-color: transparent!important;
}
@media (min-width: 1055px){
    .hero .col-wrapper .column:last-child .col-inner {
        align-items: flex-end;
    }
}




.col-wrapper .column .col-inner .col-content {
    width: 100%;
}
@media (min-width: 1055px){
    .col-wrapper .column .col-inner .col-content {
        max-width: 610px;
    }
}


.content-padding {
    padding: 2rem;
}
@media (min-width: 1055px){
    .content-padding {
        padding: 4rem;
    }
}
.no-padding .content-padding {
    padding: 0;
}





.section.tw.hero.full-section h1 {
    font-size: 45px!important;
}


@media (min-width: 1055px){
    .section.tw.hero.full-section h1 {
        font-size: 58px!important;
        font-size: clamp(45px,4vw,60px)!important;
    }
}

.section.tw.hero .col-wrapper .column h1 {
    width: 83.333333%;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}


blockquote, h1, h2, h3, h4, h5, h6, hr, p, pre {
    margin: 0;
}

h1 {
    font-size: 2.2rem;
    font-family: 'font1B';
    font-weight: 700;
    line-height: 1;
    margin: 1.5em 0 .5em;
}
@media (min-width: 1055px){
    h1 {
        font-size: 3rem;
    }
}












.typo-body-1, p {
    display: block;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.55;
    margin: 0 0 1.5em;
}
.tw p {
    line-height: 1.45;
    margin-bottom: 1.125rem;
}

.cols-3 p, .tw p {
    font-size: 1rem;
    font-family: 'font-regular';
}
@media (min-width: 500px){
    .section.tw.hero:first-child p {
        width: 66.666667%;
    }
}
.section.tw.hero.full-section p {
    font-size: 20px;
    width: 75%;
}
@media (min-width: 700px){
    .section.tw.hero.full-section p {
        width: 60%;
    }
}
@media (min-width: 1055px){
    .section.tw.hero.full-section p {
        width: 75%;
    }
}







p>a {
    font-size: inherit;
    line-height: inherit;
}
.page a:not(.hero-btn):not(.card), .single-content a:not(.hero-btn):not(.card) {
    color: #005aff;
    text-decoration: none;
    background-image: linear-gradient(#005aff,#005aff);
    background-position: 0 95%;
    background-repeat: no-repeat;
    background-size: 0 1px;
    transition: background-size .3s cubic-bezier(0,.5,0,1);
    padding-bottom: 3px;
}










.hero-btn-prim {
    background-color: #005aff;
    color: #fff!important;
}
.hero-btn {
    align-items: center;
    appearance: none;
    border: none;
    border-radius: 4px;
    color: #252c3f;
    display: inline-flex;
    font-size: .875rem;
    font-weight: 700;
    height: 32px;
    justify-content: center;
    outline: none;
    padding: 0 1rem .1rem;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: color .15s cubic-bezier(.65,.05,.36,1),background-color .15s cubic-bezier(.65,.05,.36,1);
    user-select: none;
    white-space: nowrap;
}
.mb-4 {
    margin-bottom: 1rem!important;
}



.hero-btn-lg, .hero-btn-lg-full-on-sm{
    font-size: 1rem;
    height: 44px;
    padding: 0 2rem;
    margin-bottom: 1rem;
}
@media (min-width: 500px){
    .hero-btn:not(:last-child) {
        margin-right: .5rem;
    }
}

.txt-center {
    text-align: center!important;
}

.pt-8 {
    padding-top: 2rem!important;
}
.mb-0 {
    margin-bottom: 0!important;
}





.logos-inner {
    max-width: 100%;
}

@media (min-width: 700px){
    .logos-inner {
        max-width: 90%;
    }
}
@media (min-width: 1055px){
    .logos-inner {
        max-width: calc(1138px - 6rem);
    }
}
.logos-inner:not(.flickity-enabled) {
    display: flex;
}
@media (max-width: 700px){
    .logos-inner:not(.flickity-enabled) {
        flex-wrap: wrap;
    }
}
.logos-center .logos-inner {
    margin: 0 auto;
}







.logos-logo {
    width: 100%;
    max-width: 33%;
    display: grid;
    align-items: center;
    align-content: center;
}

@media (min-width: 700px){
    .logos-logo {
        width: 100%;
        max-width: 100%;
    }
}
.padding-left-sm{
    padding-left: 1rem!important;
}




.logos-logo img {
    max-width: 200px;
    width: 100%;
}






































































.pb-4 {
    padding-bottom: 1rem!important;
}
.pl-8 {
    padding-left: 2rem!important;
}

.pt-12 {
    padding-top: 3rem!important;
}
@media (min-width: 1055px){
    .md\:pl-16 {
        padding-left: 4rem!important;
    }
}




.tw h2 {
    font-family: 'font1B';
    font-size: 30px;
    line-height: 33px;
    margin-bottom: 3rem;
}
.cols-3 h2 {
    margin-bottom: 1.2rem;
}




@media (min-width: 1220px){
    .cols-3 .col-wrapper .column {
        max-width: 33.333333%;
    }
}
@media (min-width: 1220px){
    .cols-3 .col-wrapper .column:nth-last-child(-n+3), .side-content-right .col-wrapper .column:nth-last-child(-n+2) {
        margin-bottom: 0;
    }
}






.cols-3 .content-padding {
    padding: 2rem;
}

@media (min-width: 1055px){
    .cols-3 .content-padding {
        padding: 3rem;
    }
}
.cols-3 .content-padding {
    padding: 4rem;
}
@media (min-width: 1055px){
    .column.no-padding .content-padding {
        padding-top: 0!important;
        padding-bottom: 0!important;
    }
}
.cols-3 .column:not(.no-img-col) .content-padding {
    padding-bottom: 0;
}


@media (min-width: 1055px){
    h4, legend {
        font-size: 1.4rem;
    }
}
h4, legend {
    font-family: 'font-regular2';
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.25;
    margin: 1.5em 0 .3em;
}
.bold {
    font-weight: 700!important;
}
.mt-8 {
    margin-top: 2rem!important;
}

.typo-body-1:last-child, p:last-child {
    margin: 0;
}




.page a:not(.hero-btn):not(.card).more:after, .single-content a:not(.hero-btn):not(.card).more:after {
    content: "";
    height: 26px;
    width: 24px;
    background-color: #005aff;
    -webkit-mask-image:url(icon-chevron-right.svg);
    mask-size: 25px;
    position: absolute;
    margin-top: -1px;
}
@media (min-width: 1055px){
    .page a:not(.hero-btn):not(.card).more:after, .single-content a:not(.hero-btn):not(.card).more:after {
        margin-top: 1px;
    }
}

:not(.side-right).cols-3 .col-wrapper .column .col-inner .col-img{
    margin-top: 4rem;
}


@media (min-width: 1055px){
    .col-wrapper.gap {
        display: grid;
        grid-gap: 1rem;
        gap: 1rem;
        grid-template-columns: repeat(2,minmax(0,1fr));
    }
}

.ob-cover {
    object-fit: cover!important;
}



.ob-cover .col-img {
    display: flex;
    flex-grow: 1;
    align-items: center;
}
@media (min-width: 1055px){
    .ob-cover .col-img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}


.ob-cover img {
    width: 100%;
    height: 100%;
    font-family: "object-fit:cover";
    object-fit: cover;
}


.typo-over+h1, .typo-over+h2, .typo-over+h3, .typo-over+h4, .typo-over+h5, .typo-over+h6 {
    margin-top: 0;
}

.typo-over{
    line-height: 1.25;
    font-weight: 600;
    margin: 0 0 .5rem;
    color: #005aff;
    font-size: 1.2rem!important;
}
.mt-10 {
    margin-top: 2.5rem!important;
}

@media (min-width: 1055px){
    .md\:order-last {
        order: 9999!important;
    }
}




.side-content {
    display: grid;
}

@media (min-width: 1055px){
    .side-content {
        grid-template-columns: repeat(9,minmax(0,1fr));
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}


@media (min-width: 1220px){
    .side-content {
        grid-template-columns: repeat(12,minmax(0,1fr));
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}









@media (min-width: 1055px){
    .side-content .side-content-lt {
        grid-template-columns: repeat(3,minmax(0,1fr));
        grid-column: span 12/span 12;
    }
}

@media (min-width: 1220px){
    .side-content .side-content-lt {
        padding-right: 1rem;
        grid-column: span 3/span 3;
        padding-top: 0;
    }
}

.content-padding.side-content-lt  {
    padding: 0 2rem 2rem;
}
@media (min-width: 1220px){
    .content-padding.side-content-lt {
        padding: 0 1rem 0 4rem;
    }
}











h3 {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.25;
    margin: 1.5em 0 .5em;
}
@media (min-width: 1055px){
    h3 {
        font-size: 1.5rem;
    }
}
.mb-8 {
    margin-bottom: 2rem!important;
}
.max-w-sm {
    max-width: 24rem!important;
}

.tw h3 {
    font-size: 24px;
    font-family: 'font1B';
    line-height: 28px;
}
.side-content .side-content-lt h3 {
    line-height: 2rem;
    font-size: 1.875rem;
    font-weight: 700;
}
@media (min-width: 1220px){
    .side-content .side-content-lt h3 {
        max-width: 24rem;
    }
}







.side-content .side-content-rt {
    display: grid;
    grid-gap: 4rem;
    gap: 4rem;
    padding-top: 2rem;
}

@media (min-width: 500px){
    .side-content .side-content-rt {
        grid-template-columns: repeat(6,minmax(0,1fr));
        grid-gap: 1rem;
        gap: 1rem;
    }
}
@media (min-width: 1055px){
    .side-content .side-content-rt {
        grid-column: span 9/span 9;
        grid-gap: 2rem;
        gap: 2rem;
    }
}








.db-ft {
    background: #fff;
    padding-left: 2rem;
    padding-right: 2rem;
}

@media (min-width: 1055px){
    .db-ft {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

.side-content-rt .db-ft{
    grid-column: span 6;
    padding-left: 0;
    padding-right: 0;
    width: 100%!important;
    background: transparent;
}
@media (min-width: 1055px){
    .side-content-rt .db-ft {
        grid-column: span 12;
    }
}
@media (min-width: 1220px){
    .side-content .side-content-rt:not(.cols-3) .container {
        margin-right: 0;
        width: 90%;
    }
}










@media (min-width: 500px){
    .side-content-rt .col-wrapper {
        grid-column: span 12/span 12;
    }
}

@media (min-width: 1220px){
    .side-content-rt .col-wrapper {
        flex-wrap: wrap;
        justify-content: flex-end;
    }
}

@media (min-width: 1055px){
    .db-ft .col-wrapper.container {
        display: grid!important;
        grid-template-columns: repeat(2,minmax(250px,1fr));
        grid-gap: 4rem;
        grid-row-gap: 2rem;
    }
}

.side-content-rt .db-ft .col-wrapper.container {
    width: 100%;
    display: flex!important;
    justify-content: space-between;
    grid-gap: unset;
}


@media (min-width: 1220px){
    .side-content .side-content-rt {
        grid-template-columns: repeat(12,minmax(0,1fr));
        grid-gap: 1rem;
        gap: 1rem;
        padding-top: 0;
    }
}

@media (min-width: 1055px){
    .side-content-rt .col-wrapper .column {
        max-width: 275px;
    }
}
.side-content .side-content-rt .column {
    grid-column: span 6/span 6;
}

@media (min-width: 1220px){
    .cols-3 .col-wrapper .column:nth-last-child(-n+3), .side-content-rt .col-wrapper .column:nth-last-child(-n+2) {
        margin-bottom: 0;
    }
}
.db-ft .col-wrapper.container .column {
    padding-left: 0;
    padding-right: 0;
}

@media (min-width: 1055px){
    .db-ft .col-wrapper.container .column {
        margin-bottom: 0;
    }
}
@media (min-width: 1055px){
    .side-content-rt .db-ft .col-wrapper.container .column {
        max-width: 48%;
    }
}


.db-ft .col-wrapper.container .column .col-inner {
    flex-direction: row;
    justify-content: center;
}


.db-ft .col-wrapper.container .column .col-inner .col-content {
    width: 100%;
}








.side-content-rt .content-padding {
    padding: 0 2rem;
}

.side-content-rt .db-ft .col-wrapper.container .column .content-padding {
    padding-bottom: 0!important;
}
.db-ft .col-wrapper.container .column:first-child:nth-last-child(n+2) .content-padding {
    padding-bottom: 0!important;
}
.db-ft .col-wrapper.container .column .col-inner .col-content .content-padding {
    padding: 0 0 2rem;
}




.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
    overflow: hidden;
    height: 408px;
    cursor: pointer;
}
.card, .card .wrapper-txt {
    transition: all .3s ease-in-out;
}

.card .wrapper-txt {
    padding: 2rem 2rem 1.5rem;
}

.card .wrapper-txt h3 {
    color: #000;
    font-size: 16px;
    font-weight: 500;
}



.db-ft .col-wrapper.container .column .col-inner .col-content .content-padding p {
    padding-right: 4rem;
}





.card .wrapper-txt span {
    transition: all .3s ease-in-out;
    position: absolute;
    transform: translateY(20px);
    color: #005aff;
    opacity: 0;
}


.card .wrapper-txt span .chev{
    position: absolute;
}









.nav-icon-circle .nav-icon-icon {
    border-radius: 50%;
}

.nav-icon-white-blue .nav-icon-icon, .nav-icon-white .nav-icon-icon {
    fill: #fff;
}
.nav-icon-white-blue.nav-icon-circle .nav-icon-icon, .nav-icon-white-blue.nav-icon-rounded .nav-icon-icon {
    background-color: #fff;
    fill: #005aff;
    color: #005aff;
}





.card .wrapper-img {
    flex-grow: 1;
    transition: all .3s ease-in-out;
    background-color: #e5e7eb;
    z-index: 500;
}



.card .wrapper-img img {
    width: 100%;
    height: 100%;
    font-family: "object-fit:cover";
    object-fit: cover;
    transition: all .3s ease-in-out;
}
.db-ft .col-wrapper.container .column .col-inner .col-content .content-padding .video-embed-wrap, .db-ft .col-wrapper.container .column .col-inner .col-content .content-padding img {
    margin-top: 0;
    margin-bottom: 2.5rem;
}
.pb-0 {
    padding-bottom: 0!important;
}

.py-12 {
    padding-top: 3rem!important;
    padding-bottom: 3rem!important;
}
.px-16 {
    padding-left: 4rem!important;
    padding-right: 4rem!important;
}
.mb-2 {
    margin-bottom: .5rem!important;
}
@media (min-width: 1055px){
    .md\:mb-24 {
        margin-bottom: 6rem!important;
    }
}


.wpcf7 {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 1rem;
    text-transform: none;
}

.wpcf7 .screen-response {
    position: absolute;
    overflow: hidden;
    clip: rect(1px,1px,1px,1px);
    height: 1px;
    width: 1px;
    margin: 0;
    padding: 0;
    border: 0;
}











.no-boxshadow {
    box-shadow: unset!important;
}

.wpcf7 form {
    padding: 1rem;
    box-shadow: 0 4px 10px -4px rgb(92 100 122 / 50%);
    background-color: #fff;
    display: flex;
    flex-direction: column;
}
@media (min-width: 700px){
    .wpcf7 form {
        padding: 3rem;
    }
}
.wpcf7 form.single-field {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 500px){
    .wpcf7 form.single-field {
        flex-direction: row;
    }
}
.wpcf7 form.align-lt-form {
    padding: 0;
    width: 100%;
    text-align: left!important;
}

@media (min-width: 1055px){
    .md\:flex {
        display: flex!important;
    }
}





.wpcf7 form .cb-field {
    position: relative;
    margin-bottom: 1rem;
    transition: padding-bottom margin-bottom .2s cubic-bezier(.65,.05,.36,1);
}
.wpcf7 form.single-field .cb-field {
    margin-bottom: 0;
}








label {
    display: block;
    font-size: .75rem;
    font-weight: 500;
    line-height: 1;
    margin: 0 0 .5rem;
    text-transform: uppercase;
}
.wpcf7 form label {
    font-family: 'font-regular2';
    font-size: .85rem;
    font-weight: 500;
    color: #000;
    margin: 0 0 .2rem 1rem;
    text-transform: none;
    letter-spacing: 0;
    display: block;
    transition: color .3s;
    user-select: none;
    position: absolute;
    top: 0;
    z-index: 100;
    height: 2.6rem;
    line-height: 2.6rem;
}












button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button, input {
    overflow: visible;
}
button, input, select, textarea {
    padding: 0;
    line-height: inherit;
    color: inherit;
}

.wpcf7 form input[role=combobox], .wpcf7 form input[type=email], .wpcf7 form input[type=number], .wpcf7 form input[type=tel], .wpcf7 form input[type=text], .wpcf7 form textarea {
    appearance: none;
    display: block;
    height: 2.6rem;
    width: 100%;
    padding: 0 1rem 0 6.5rem;
    color: #252c3f;
    font-weight: 500;
    font-family: 'font-regular2';
    font-size: 1rem;
    outline: none;
    background: #f7f7f8;
    border: 1px solid #c5cad3;
    box-shadow: none;
    border-radius: 4px;
    transition: border-color .2s cubic-bezier(.65,.05,.36,1);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}



.wpcf7 form .cb-field input[role=combobox], .wpcf7 form .cb-field input[type=email], .wpcf7 form .cb-field input[type=select], .wpcf7 form .cb-field input[type=tel], .wpcf7 form .cb-field input[type=text] {
    padding: 0 1rem 0 6rem;
}
.wpcf7 form.align-lt-form .cb-field input[type=email], .wpcf7 form.align-lt-form .cb-field input[type=text] {
    padding-left: 6rem;
    margin-top: -1px;
}






.wpcf7 form .cb-submit {
    padding: 0;
    margin-top: -1px;
}
@media (min-width: 1055px){
    .wpcf7 form .cb-submit {
        grid-column-start: -3;
        grid-column-end: -1;
    }
}

@media (min-width: 500px){
    .wpcf7 form.single-field .cb-submit {
        margin-left: .75rem;
    }
}
















button, input {
    overflow: visible;
}

button, input, select, textarea {
    padding: 0;
    line-height: inherit;
    color: inherit;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}
.wpcf7 form .cb-button, .wpcf7 form .cb-button .wpcf7-submit {
    border-radius: 4px;
}
.wpcf7 form .wpcf7-submit, .wpcf7 form button {
    display: block;
    width: 100%;
    cursor: pointer;
    outline: none;
    text-align: center;
    font-family: 'font-regular2';
    font-size: 1rem;
    color: #fff;
    min-width: 4rem;
    min-height: 3rem;
    box-shadow: none;
    border: none;
    position: relative;
    z-index: 100;
    transition: background-color .2s cubic-bezier(.65,.05,.36,1);
    font-weight: 600;
    background-color: #005aff;
    background-image: none;
    letter-spacing: 0;
}
@media (min-width: 1055px){
    .wpcf7 form .cb-submit .cb-button, .wpcf7 form .cb-submit .wpcf7-submit {
        max-width: 300px;
        margin: 0 auto;
    }
}
.wpcf7 form.align-lt-form .wpcf7-submit {
    margin-top: 1rem;
    max-width: 11rem;
}
@media (min-width: 1055px){
    .wpcf7 form.align-lt-form .wpcf7-submit {
        margin: 0 1rem 0 0;
    }
}
.wpcf7 form.single-field .cb-submit .wpcf7-submit {
    min-height: 2.6rem;
    padding: 0 3rem;
}
@media (min-width: 1055px){
    .wpcf7 form.single-field .cb-submit .wpcf7-submit {
        padding: 0 1rem;
    }
}
/* .no-padding .content-padding {
    padding: 0;
} */


.wpcf7 form input[role=combobox]:focus, .wpcf7 form input[type=email]:focus, .wpcf7 form input[type=number]:focus, .wpcf7 form input[type=tel]:focus, .wpcf7 form input[type=text]:focus, .wpcf7 form textarea:focus {
    border-color: #005aff;
}



.mt-4 {
    margin-top: 1rem!important;
}
section.tw.cta {
    --bg-opacity: 1;
    background-color: #005aff;
    background-color: rgba(0,90,255,var(--bg-opacity));
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-top: 1rem;
}





section.tw.cta .cta-content {
    padding-top: 0;
    padding-bottom: 0;
    --text-opacity: 1;
    color: #fff;
    color: rgba(255,255,255,var(--text-opacity));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
@media (min-width: 1055px){
    section.tw.cta .cta-content {
        flex-direction: row;
        text-align: left;
    }
}

@media (min-width: 1055px){
    section.tw.cta .cta-content h2 {
        line-height: 38px;
        padding-left: 4rem;
        margin-bottom: 0;
    }
}






.pr-8 {
    padding-right: 2rem!important;
}
@media (min-width: 1055px){
    .md\:pr-16 {
        padding-right: 4rem!important;
    }
}









.button {
    align-items: center;
    appearance: none;
    background-color: #dde0e6;
    border: none;
    border-radius: 4px;
    color: #252c3f;
    display: inline-flex;
    font-size: .875rem;
    font-weight: 700;
    height: 32px;
    justify-content: center;
    outline: none;
    padding: 0 1rem .1rem;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: color .15s cubic-bezier(.65,.05,.36,1),background-color .15s cubic-bezier(.65,.05,.36,1);
    user-select: none;
    white-space: nowrap;
}



.button-dark {
    background-color: #fff;
    color: #252c3f!important;
}
.button-lg, .button-lg-on-sm{
    font-size: 1rem;
    font-family: 'font-regular2';
    height: 44px;
    padding: 0 2rem;
    margin-bottom: 1rem;
}









.footer {
    display: flex;
    flex-wrap: wrap;
    padding: 0 .5rem;
    background: #fff;
}
@media (min-width: 700px){
    .footer {
        padding: 0 1rem;
    }
}
@media (min-width: 1600px){
    .footer {
        margin: 0 auto;
        padding: 0;
    }
}
.footer:not(.footer-tiny) {
    padding-top: 3rem;
}



.footer .footer-container {
    max-width: 1650px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}









.wid-copy, .wid-footer, .wid-social {
    padding: 1rem 1rem 1.5rem;
}

.wid-footer {
    width: 100%;
}
@media (min-width: 700px){
    .wid-footer {
        width: 50%;
    }
}
@media (min-width: 1055px){
    .wid-footer {
        width: 33.33333%;
    }
}
@media (min-width: 1220px){
    .wid-footer {
        width: 20%;
    }
}






.wid .footer-title {
    font-size: 1rem;
    margin: 0;
}
.wid-footer .footer-title {
    padding: 1rem 1rem .5rem;
}




.wid-copy .footer-menu, .wid-footer .footer-menu, .wid-social .footer-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}






.wid-copy .footer-menu-item, .wid-footer .footer-menu-item, .wid-social .footer-menu-item {
    border-radius: 4px;
    color: #252c3f;
    font-family: 'font-regular';
    font-size: 1rem;
    line-height: 1.1875rem;
    margin-bottom: 0;
    padding: .6rem 1rem;
}
@media (min-width: 1055px){
    .wid-copy .footer-menu-item, .wid-footer .footer-menu-item, .wid-social .footer-menu-item{
        transition: background-color .2s cubic-bezier(.65,.05,.36,1);
    }
}



.wid-copy .footer-menu-item a, .wid-footer .footer-menu-item a, .wid-social .footer-menu-item a {
    color: inherit;
    display: block;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}


.wid-copy .footer-menu-item:hover, .wid-footer .footer-menu-item:hover, .wid-social .footer-menu-item:hover {
    background-color: #f0f0f2;
    color: #005aff;
    cursor: pointer;
}



.wid-copy .footer-menu-item.footer-menu-item span, .wid-footer .footer-menu-item.footer-menu-item span, .wid-social .footer-menu-item.footer-menu-item span {
    background: #dde0e6;
    font-size: 12px;
    color: #e43737;
    border-radius: 1px;
    padding: 3px 3px 4px;
    margin-left: 3px;
}







.footer-tiny {
    display: flex;
    margin-bottom: 4rem;
    padding-top: 0;
}
@media (min-width: 1055px){
    .footer-tiny {
        flex-wrap: nowrap;
    }
}






.wid-wrapper-social {
    width: 100%;
}
@media (min-width: 1055px){
    .wid-wrapper-social {
        max-width: 30%;
    }
}
.wid-social {
    padding: .4rem 1rem;
}

.wid-social .footer-menu{
    display: flex;
    justify-content: flex-end;
}

.wid-social .footer-menu-item{
    text-align: center;
    white-space: nowrap;
    width: 100%;
    max-height: 40px;
}




.wid-wrapper-copy {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
@media (min-width: 1055px){
    .wid-wrapper-copy{
        justify-content: flex-end;
        flex-direction: row;
    }
}







#flags-lang {
    text-align: center;
    color: #252c3f;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
@media (min-width: 1055px){
    #flags-lang{
        justify-content: flex-end;
    }
}
#flags-lang img {
    width: 35px;
}








.form-select {
    background-color: #fff;
    border-radius: 4px;
    color: #252c3f;
    display: inline-flex;
    font-size: .875rem;
    font-weight: 700;
    height: 32px;
    justify-content: center;
    outline: none;
    padding: 0 1rem;
    position: relative;
    text-decoration: none;
    transition: color .25s cubic-bezier(.65,.05,.36,1),background-color .25s cubic-bezier(.65,.05,.36,1);
    user-select: none;
    white-space: nowrap;
    width: 100%;
    border: 1px solid #dde0e6;
}

@media (min-width: 1055px){
    .form-select {
        max-width: 18rem;
    }
}
#flags-lang .form-select {
    max-width: 155px;
}








.form-select select {
    appearance: none;
    background-color: transparent;
    border: none;
    border-radius: 0;
    bottom: 0;
    color: inherit;
    cursor: pointer;
    font-family:'font-regular2';
    font-size: inherit;
    font-weight: inherit;
    left: 0;
    outline: none;
    overflow: hidden;
    padding-right: 32px;
    position: absolute;
    right: 0;
    text-indent: 1.5rem;
    text-overflow: ellipsis;
    top: 0;
    white-space: nowrap;
    width: 100%;
    height: 100%;
    z-index: 100;
}

#flags-lang .form-select select {
    text-indent: .5rem;
    font-weight: 500;
}

@media (min-width: 1220px){
    #flags-lang .form-select select {
        text-indent: 1.5rem;
    }
}
button, select {
    text-transform: none;
}



.form-select-icon {
    align-items: center;
    border-left: 2px solid #dde0e6;
    display: flex;
    height: 100%;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 32px;
}


.wid-legal ul {
    margin: 1rem 0;
}


.wid-legal ul li {
    display: inline;
}





.wid-copy {
    padding: 1rem;
    text-align: center;
}
@media (min-width: 1055px){
    .wid-copy {
        text-align: right;
    }
}





.wid-copy p {
    color: #252c3f;
    font-size: inherit;
    margin: 0;
    font-family: 'font-regular';
}




.nav-has-dropdown:hover{
    display: block;
}